{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Чат с ботом</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header class="header">
    <h1 class="header__title">Чат с ботом</h1>
</header>
<main>
    <div id="chatBox" style="border: 1px solid #ccc; padding: 10px; height: 300px; overflow-y: scroll;"></div>
    <form id="messageForm" method="POST" , action="{% url 'ai_request' %}">
        {% csrf_token %}
        <input type="text" id="messageInput" placeholder="Введите ваше сообщение">
        <button type="submit">Отправить</button>
    </form>
</main>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>



